<div class="container">
    
    <h2>Welcome {{userInSession.name}} you are an Admin</h2>
    {{> adminLayout}}
<div>
    <p><b>See All Users:</b> List of all users which can be used to then edit each users details.</p>
    <p><b>Product List:</b> List of all products which can be used to then edit each products details.</p>
    <p><b>Create New Product:</b> Used to create new products and add them to the website.</p>
    </div>
</div>