     <div id="profileNav">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link"  href="/admin">Admin Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/users">See All Users</a></li>
            <li class="nav-item"><a class="nav-link"href="/admin/all-products">Product List</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/create-product">Create New Product</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/reviews">See All Reviews</a></li>
           
        </ul>
    </div>