    <div id="profileNav">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" href="/profile">My Profile</a></li>
        <li class="nav-item"><a
            class="nav-link"
            href="/profile/edit-details"
          >Edit Personal Information</a>
        </li>
        <li class="nav-item"><a
            class="nav-link"
            href="/profile/favourites"
          >Favourites</a>
        </li>
        <li class="nav-item"><a
            class="nav-link"
            href="/profile/reviews"
          >Reviews</a>
        </li>
      </ul>
    </div>