<div class="container">

  <h1>Items on Sale!</h1>
  <div class="container-md">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://images.guitarguitar.co.uk/cdn/large/160/06102513005018f.jpg"
            class="w-25 p-3"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="carouselCaption">Yamaha F310</h5>
            <p class="carouselCaption"><s>£3200</s> <b>£2999</b></p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://images.guitarguitar.co.uk/cdn/large/170/201102363656025f.jpg"
            class="w-25 p-3"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="carouselCaption">Ibanez Prestige AZ24047</h5>
            <p class="carouselCaption"><s>£2000</s> <b>£1500</b></p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://images.guitarguitar.co.uk/cdn/large/150/04052410171618f.jpg"
            class="w-25 p-3 "
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="carouselCaption">BOSS DS-1 Distortion</h5>
            <p class="carouselCaption"><s>£500</s> <b>£450</b></p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
   </div>
       <div><h2>Why not sign up for an account with Guitar Shop.</h2></div>
   <div id="homeText">

    <div class="accordion accordion-flush bg-success" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header " id="headingOne">
      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Save your favourite products for later
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Our "Save to Favourites" feature allows you to build a list of your favourite musical products.</strong> Simply login and click the "add to favourites" button on any product to save it for later. You can find a list of all your saved products in your profile.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Receive new product alerts and special promotions via emails
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Choose to consent to marketing emails on signup.</strong> To receive emails from us with information on great new products and amazing promotions via email.
      </div>
    </div>
  </div>

</div>
    <a href="/signup" class="btn btn-primary btn-lg">Signup Today</a>
   </div>


   
</div>